/*
===================================
TYPOGRAPHY
===================================
*/
%title1 {
  font-family: "Rubik", sans-serif;
  font-size: rem(48);
  font-weight: 700;
  line-height: rem(56);
}
%title2 {
  font-family: "Rubik", sans-serif;
  font-size: rem(32);
  font-weight: 700;
  line-height: rem(36);
}
%title3 {
  font-family: "Rubik", sans-serif;
  font-size: rem(24);
  font-weight: 400;
  line-height: rem(28);
}
%large {
  font-family: "Rubik", sans-serif;
  font-size: rem(20);
  font-weight: 400;
  line-height: rem(24);
}
%regular {
  font-family: "Rubik", sans-serif;
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(20);
}
%small {
  font-family: "Rubik", sans-serif;
  font-size: rem(14);
  font-weight: 400;
  line-height: rme(16);
}
%micro {
  font-family: "Rubik", sans-serif;
  font-size: rem(10);
  font-weight: 500;
  line-height: rem(10);
  text-transform: uppercase;
}
// h1 {
//   @extend %title1;
// }























// h1, h2, h3, h4, h5, h6 {
//   line-height: 1.25em;
//   margin-bottom: 0.25em;
// }

// h1 {
//   font-size: 2rem;
// }
// @media (min-width: 768px) {
//   h1 { font-size: 2.5rem; }
// }
// @media (min-width: 992px) {
//   h1 { font-size: 3rem; }
// }

// h2 {
//   font-size: 1.625rem;
// }
// @media (min-width: 768px) {
//   h2 { font-size: 2rem; }
// }
// @media (min-width: 992px) {
//   h2 { font-size: 2.25rem; }
// }

// h3 {
//   font-size: 1.375rem;
// }
// @media (min-width: 768px) {
//   h3 { font-size: 1.5rem; }
// }
// @media (min-width: 992px) {
//   h3 { font-size: 1.75rem; }
// }

// h4 { font-size: 1.125rem; }

// p { font-size: 1rem; }