/*
===================================
UTILITIES - BACKGROUND
===================================
*/
.imnii-bg-cover {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

/*
===================================
UTILITIES - BORDER
===================================
*/
.imnii-radius-5 {
  border-radius: rem(5) !important;
}
.imnii-round {
  border-radius: 50% !important;
}

/*
===================================
UTILITIES - BOX SHADOW
===================================
*/
.imnii-box-shadow {
  box-shadow: 0 0 rem(30) 0 rgba(0, 0, 0, 0.15) !important;
}

/*
===================================
UTILITIES - BLOCK
===================================
*/
.imnii-block {
  background-color: #ffffff;
  display: block !important;
}

/*
===================================
UTILITIES - MARGIN
===================================
*/
.imnii-m-0 { margin: 0 !important; }
.imnii-m-5 { margin: rem(5) !important; }
.imnii-m-10 { margin: rem(10) !important; }
.imnii-m-15 { margin: rem(15) !important; }
.imnii-m-20 { margin: rem(20) !important; }
.imnii-m-25 { margin: rem(25) !important; }
.imnii-m-30 { margin: rem(30) !important; }
.imnii-m-35 { margin: rem(35) !important; }
.imnii-m-40 { margin: rem(40) !important; }
.imnii-m-45 { margin: rem(45) !important; }
.imnii-m-50 { margin: rem(50) !important; }
.imnii-m-55 { margin: rem(55) !important; }
.imnii-m-60 { margin: rem(60) !important; }
.imnii-m-65 { margin: rem(65) !important; }
.imnii-m-70 { margin: rem(70) !important; }
.imnii-m-75 { margin: rem(75) !important; }
.imnii-m-80 { margin: rem(80) !important; }
.imnii-m-85 { margin: rem(85) !important; }
.imnii-m-90 { margin: rem(90) !important; }
.imnii-m-95 { margin: rem(95) !important; }
.imnii-m-100 { margin: rem(100) !important; }
/*  */
.imnii-mx-0 { margin-left: 0 !important; margin-right: 0 !important; }
.imnii-mx-5 { margin-left: rem(5) !important; margin-right: rem(5) !important; }
.imnii-mx-10 { margin-left: rem(10) !important; margin-right: rem(10) !important; }
.imnii-mx-15 { margin-left: rem(15) !important; margin-right: rem(15) !important; }
.imnii-mx-20 { margin-left: rem(20) !important; margin-right: rem(20) !important; }
.imnii-mx-25 { margin-left: rem(25) !important; margin-right: rem(25) !important; }
.imnii-mx-30 { margin-left: rem(30) !important; margin-right: rem(30) !important; }
.imnii-mx-35 { margin-left: rem(35) !important; margin-right: rem(35) !important; }
.imnii-mx-40 { margin-left: rem(40) !important; margin-right: rem(40) !important; }
.imnii-mx-45 { margin-left: rem(45) !important; margin-right: rem(45) !important; }
.imnii-mx-50 { margin-left: rem(50) !important; margin-right: rem(50) !important; }
.imnii-mx-55 { margin-left: rem(55) !important; margin-right: rem(55) !important; }
.imnii-mx-60 { margin-left: rem(60) !important; margin-right: rem(60) !important; }
.imnii-mx-65 { margin-left: rem(65) !important; margin-right: rem(65) !important; }
.imnii-mx-70 { margin-left: rem(70) !important; margin-right: rem(70) !important; }
.imnii-mx-75 { margin-left: rem(75) !important; margin-right: rem(75) !important; }
.imnii-mx-80 { margin-left: rem(80) !important; margin-right: rem(80) !important; }
.imnii-mx-85 { margin-left: rem(85) !important; margin-right: rem(85) !important; }
.imnii-mx-90 { margin-left: rem(90) !important; margin-right: rem(90) !important; }
.imnii-mx-95 { margin-left: rem(95) !important; margin-right: rem(95) !important; }
.imnii-mx-100 { margin-left: rem(100) !important; margin-right: rem(100) !important; }
/*  */
.imnii-my-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.imnii-my-5 { margin-top: rem(5) !important; margin-bottom: rem(5) !important; }
.imnii-my-10 { margin-top: rem(10) !important; margin-bottom: rem(10) !important; }
.imnii-my-15 { margin-top: rem(15) !important; margin-bottom: rem(15) !important; }
.imnii-my-20 { margin-top: rem(20) !important; margin-bottom: rem(20) !important; }
.imnii-my-25 { margin-top: rem(25) !important; margin-bottom: rem(25) !important; }
.imnii-my-30 { margin-top: rem(30) !important; margin-bottom: rem(30) !important; }
.imnii-my-35 { margin-top: rem(35) !important; margin-bottom: rem(35) !important; }
.imnii-my-40 { margin-top: rem(40) !important; margin-bottom: rem(40) !important; }
.imnii-my-45 { margin-top: rem(45) !important; margin-bottom: rem(45) !important; }
.imnii-my-50 { margin-top: rem(50) !important; margin-bottom: rem(50) !important; }
.imnii-my-55 { margin-top: rem(55) !important; margin-bottom: rem(55) !important; }
.imnii-my-60 { margin-top: rem(60) !important; margin-bottom: rem(60) !important; }
.imnii-my-65 { margin-top: rem(65) !important; margin-bottom: rem(65) !important; }
.imnii-my-70 { margin-top: rem(70) !important; margin-bottom: rem(70) !important; }
.imnii-my-75 { margin-top: rem(75) !important; margin-bottom: rem(75) !important; }
.imnii-my-80 { margin-top: rem(80) !important; margin-bottom: rem(80) !important; }
.imnii-my-85 { margin-top: rem(85) !important; margin-bottom: rem(85) !important; }
.imnii-my-90 { margin-top: rem(90) !important; margin-bottom: rem(90) !important; }
.imnii-my-95 { margin-top: rem(95) !important; margin-bottom: rem(95) !important; }
.imnii-my-100 { margin-top: rem(100) !important; margin-bottom: rem(100) !important; }
/*  */
.imnii-mt-0 { margin-top: 0 !important; }
.imnii-mt-5 { margin-top: rem(5) !important; }
.imnii-mt-10 { margin-top: rem(10) !important; }
.imnii-mt-15 { margin-top: rem(15) !important; }
.imnii-mt-20 { margin-top: rem(20) !important; }
.imnii-mt-25 { margin-top: rem(25) !important; }
.imnii-mt-30 { margin-top: rem(30) !important; }
.imnii-mt-35 { margin-top: rem(35) !important; }
.imnii-mt-40 { margin-top: rem(40) !important; }
.imnii-mt-45 { margin-top: rem(45) !important; }
.imnii-mt-50 { margin-top: rem(50) !important; }
.imnii-mt-55 { margin-top: rem(55) !important; }
.imnii-mt-60 { margin-top: rem(60) !important; }
.imnii-mt-65 { margin-top: rem(65) !important; }
.imnii-mt-70 { margin-top: rem(70) !important; }
.imnii-mt-75 { margin-top: rem(75) !important; }
.imnii-mt-80 { margin-top: rem(80) !important; }
.imnii-mt-85 { margin-top: rem(85) !important; }
.imnii-mt-90 { margin-top: rem(90) !important; }
.imnii-mt-95 { margin-top: rem(95) !important; }
.imnii-mt-100 { margin-top: rem(100) !important; }
/*  */
.imnii-mr-0 { margin-right: 0 !important; }
.imnii-mr-5 { margin-right: rem(5) !important; }
.imnii-mr-10 { margin-right: rem(10) !important; }
.imnii-mr-15 { margin-right: rem(15) !important; }
.imnii-mr-20 { margin-right: rem(20) !important; }
.imnii-mr-25 { margin-right: rem(25) !important; }
.imnii-mr-30 { margin-right: rem(30) !important; }
.imnii-mr-35 { margin-right: rem(35) !important; }
.imnii-mr-40 { margin-right: rem(40) !important; }
.imnii-mr-45 { margin-right: rem(45) !important; }
.imnii-mr-50 { margin-right: rem(50) !important; }
.imnii-mr-55 { margin-right: rem(55) !important; }
.imnii-mr-60 { margin-right: rem(60) !important; }
.imnii-mr-65 { margin-right: rem(65) !important; }
.imnii-mr-70 { margin-right: rem(70) !important; }
.imnii-mr-75 { margin-right: rem(75) !important; }
.imnii-mr-80 { margin-right: rem(80) !important; }
.imnii-mr-85 { margin-right: rem(85) !important; }
.imnii-mr-90 { margin-right: rem(90) !important; }
.imnii-mr-95 { margin-right: rem(95) !important; }
.imnii-mr-100 { margin-right: rem(100) !important; }
/*  */
.imnii-mb-0 { margin-bottom: 0 !important; }
.imnii-mb-5 { margin-bottom: rem(5) !important; }
.imnii-mb-10 { margin-bottom: rem(10) !important; }
.imnii-mb-15 { margin-bottom: rem(15) !important; }
.imnii-mb-20 { margin-bottom: rem(20) !important; }
.imnii-mb-25 { margin-bottom: rem(25) !important; }
.imnii-mb-30 { margin-bottom: rem(30) !important; }
.imnii-mb-35 { margin-bottom: rem(35) !important; }
.imnii-mb-40 { margin-bottom: rem(40) !important; }
.imnii-mb-45 { margin-bottom: rem(45) !important; }
.imnii-mb-50 { margin-bottom: rem(50) !important; }
.imnii-mb-55 { margin-bottom: rem(55) !important; }
.imnii-mb-60 { margin-bottom: rem(60) !important; }
.imnii-mb-65 { margin-bottom: rem(65) !important; }
.imnii-mb-70 { margin-bottom: rem(70) !important; }
.imnii-mb-75 { margin-bottom: rem(75) !important; }
.imnii-mb-80 { margin-bottom: rem(80) !important; }
.imnii-mb-85 { margin-bottom: rem(85) !important; }
.imnii-mb-90 { margin-bottom: rem(90) !important; }
.imnii-mb-95 { margin-bottom: rem(95) !important; }
.imnii-mb-100 { margin-bottom: rem(100) !important; }
/*  */
.imnii-ml-0 { margin-left: 0 !important; }
.imnii-ml-5 { margin-left: rem(5) !important; }
.imnii-ml-10 { margin-left: rem(10) !important; }
.imnii-ml-15 { margin-left: rem(15) !important; }
.imnii-ml-20 { margin-left: rem(20) !important; }
.imnii-ml-25 { margin-left: rem(25) !important; }
.imnii-ml-30 { margin-left: rem(30) !important; }
.imnii-ml-35 { margin-left: rem(35) !important; }
.imnii-ml-40 { margin-left: rem(40) !important; }
.imnii-ml-45 { margin-left: rem(45) !important; }
.imnii-ml-50 { margin-left: rem(50) !important; }
.imnii-ml-55 { margin-left: rem(55) !important; }
.imnii-ml-60 { margin-left: rem(60) !important; }
.imnii-ml-65 { margin-left: rem(65) !important; }
.imnii-ml-70 { margin-left: rem(70) !important; }
.imnii-ml-75 { margin-left: rem(75) !important; }
.imnii-ml-80 { margin-left: rem(80) !important; }
.imnii-ml-85 { margin-left: rem(85) !important; }
.imnii-ml-90 { margin-left: rem(90) !important; }
.imnii-ml-95 { margin-left: rem(95) !important; }
.imnii-ml-100 { margin-left: rem(100) !important; }

/*
===================================
UTILITIES - PADDING
===================================
*/
.imnii-p-0 { padding: 0 !important; }
.imnii-p-5 { padding: rem(5) !important; }
.imnii-p-10 { padding: rem(10) !important; }
.imnii-p-15 { padding: rem(15) !important; }
.imnii-p-20 { padding: rem(20) !important; }
.imnii-p-25 { padding: rem(25) !important; }
.imnii-p-30 { padding: rem(30) !important; }
.imnii-p-35 { padding: rem(35) !important; }
.imnii-p-40 { padding: rem(40) !important; }
.imnii-p-45 { padding: rem(45) !important; }
.imnii-p-50 { padding: rem(50) !important; }
.imnii-p-55 { padding: rem(55) !important; }
.imnii-p-60 { padding: rem(60) !important; }
.imnii-p-65 { padding: rem(65) !important; }
.imnii-p-70 { padding: rem(70) !important; }
.imnii-p-75 { padding: rem(75) !important; }
.imnii-p-80 { padding: rem(80) !important; }
.imnii-p-85 { padding: rem(85) !important; }
.imnii-p-90 { padding: rem(90) !important; }
.imnii-p-95 { padding: rem(95) !important; }
.imnii-p-100 { padding: rem(100) !important; }
/*  */
.imnii-px-0 { padding-left: 0 !important; padding-right: 0 !important; }
.imnii-px-5 { padding-left: rem(5) !important; padding-right: rem(5) !important; }
.imnii-px-10 { padding-left: rem(10) !important; padding-right: rem(10) !important; }
.imnii-px-15 { padding-left: rem(15) !important; padding-right: rem(15) !important; }
.imnii-px-20 { padding-left: rem(20) !important; padding-right: rem(20) !important; }
.imnii-px-25 { padding-left: rem(25) !important; padding-right: rem(25) !important; }
.imnii-px-30 { padding-left: rem(30) !important; padding-right: rem(30) !important; }
.imnii-px-35 { padding-left: rem(35) !important; padding-right: rem(35) !important; }
.imnii-px-40 { padding-left: rem(40) !important; padding-right: rem(40) !important; }
.imnii-px-45 { padding-left: rem(45) !important; padding-right: rem(45) !important; }
.imnii-px-50 { padding-left: rem(50) !important; padding-right: rem(50) !important; }
.imnii-px-55 { padding-left: rem(55) !important; padding-right: rem(55) !important; }
.imnii-px-60 { padding-left: rem(60) !important; padding-right: rem(60) !important; }
.imnii-px-65 { padding-left: rem(65) !important; padding-right: rem(65) !important; }
.imnii-px-70 { padding-left: rem(70) !important; padding-right: rem(70) !important; }
.imnii-px-75 { padding-left: rem(75) !important; padding-right: rem(75) !important; }
.imnii-px-80 { padding-left: rem(80) !important; padding-right: rem(80) !important; }
.imnii-px-85 { padding-left: rem(85) !important; padding-right: rem(85) !important; }
.imnii-px-90 { padding-left: rem(90) !important; padding-right: rem(90) !important; }
.imnii-px-95 { padding-left: rem(95) !important; padding-right: rem(95) !important; }
.imnii-px-100 { padding-left: rem(100) !important; padding-right: rem(100) !important; }
/*  */
.imnii-py-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.imnii-py-5 { padding-top: rem(5) !important; padding-bottom: rem(5) !important; }
.imnii-py-10 { padding-top: rem(10) !important; padding-bottom: rem(10) !important; }
.imnii-py-15 { padding-top: rem(15) !important; padding-bottom: rem(15) !important; }
.imnii-py-20 { padding-top: rem(20) !important; padding-bottom: rem(20) !important; }
.imnii-py-25 { padding-top: rem(25) !important; padding-bottom: rem(25) !important; }
.imnii-py-30 { padding-top: rem(30) !important; padding-bottom: rem(30) !important; }
.imnii-py-35 { padding-top: rem(35) !important; padding-bottom: rem(35) !important; }
.imnii-py-40 { padding-top: rem(40) !important; padding-bottom: rem(40) !important; }
.imnii-py-45 { padding-top: rem(45) !important; padding-bottom: rem(45) !important; }
.imnii-py-50 { padding-top: rem(50) !important; padding-bottom: rem(50) !important; }
.imnii-py-55 { padding-top: rem(55) !important; padding-bottom: rem(55) !important; }
.imnii-py-60 { padding-top: rem(60) !important; padding-bottom: rem(60) !important; }
.imnii-py-65 { padding-top: rem(65) !important; padding-bottom: rem(65) !important; }
.imnii-py-70 { padding-top: rem(70) !important; padding-bottom: rem(70) !important; }
.imnii-py-75 { padding-top: rem(75) !important; padding-bottom: rem(75) !important; }
.imnii-py-80 { padding-top: rem(80) !important; padding-bottom: rem(80) !important; }
.imnii-py-85 { padding-top: rem(85) !important; padding-bottom: rem(85) !important; }
.imnii-py-90 { padding-top: rem(90) !important; padding-bottom: rem(90) !important; }
.imnii-py-95 { padding-top: rem(95) !important; padding-bottom: rem(95) !important; }
.imnii-py-100 { padding-top: rem(100) !important; padding-bottom: rem(100) !important; }
/*  */
.imnii-pt-0 { padding-top: 0 !important; }
.imnii-pt-5 { padding-top: rem(5) !important; }
.imnii-pt-10 { padding-top: rem(10) !important; }
.imnii-pt-15 { padding-top: rem(15) !important; }
.imnii-pt-20 { padding-top: rem(20) !important; }
.imnii-pt-25 { padding-top: rem(25) !important; }
.imnii-pt-30 { padding-top: rem(30) !important; }
.imnii-pt-35 { padding-top: rem(35) !important; }
.imnii-pt-40 { padding-top: rem(40) !important; }
.imnii-pt-45 { padding-top: rem(45) !important; }
.imnii-pt-50 { padding-top: rem(50) !important; }
.imnii-pt-55 { padding-top: rem(55) !important; }
.imnii-pt-60 { padding-top: rem(60) !important; }
.imnii-pt-65 { padding-top: rem(65) !important; }
.imnii-pt-70 { padding-top: rem(70) !important; }
.imnii-pt-75 { padding-top: rem(75) !important; }
.imnii-pt-80 { padding-top: rem(80) !important; }
.imnii-pt-85 { padding-top: rem(85) !important; }
.imnii-pt-90 { padding-top: rem(90) !important; }
.imnii-pt-95 { padding-top: rem(95) !important; }
.imnii-pt-100 { padding-top: rem(100) !important; }
/*  */
.imnii-pr-0 { padding-right: 0 !important; }
.imnii-pr-5 { padding-right: rem(5) !important; }
.imnii-pr-10 { padding-right: rem(10) !important; }
.imnii-pr-15 { padding-right: rem(15) !important; }
.imnii-pr-20 { padding-right: rem(20) !important; }
.imnii-pr-25 { padding-right: rem(25) !important; }
.imnii-pr-30 { padding-right: rem(30) !important; }
.imnii-pr-35 { padding-right: rem(35) !important; }
.imnii-pr-40 { padding-right: rem(40) !important; }
.imnii-pr-45 { padding-right: rem(45) !important; }
.imnii-pr-50 { padding-right: rem(50) !important; }
.imnii-pr-55 { padding-right: rem(55) !important; }
.imnii-pr-60 { padding-right: rem(60) !important; }
.imnii-pr-65 { padding-right: rem(65) !important; }
.imnii-pr-70 { padding-right: rem(70) !important; }
.imnii-pr-75 { padding-right: rem(75) !important; }
.imnii-pr-80 { padding-right: rem(80) !important; }
.imnii-pr-85 { padding-right: rem(85) !important; }
.imnii-pr-90 { padding-right: rem(90) !important; }
.imnii-pr-95 { padding-right: rem(95) !important; }
.imnii-pr-100 { padding-right: rem(100) !important; }
/*  */
.imnii-pb-0 { padding-bottom: 0 !important; }
.imnii-pb-5 { padding-bottom: rem(5) !important; }
.imnii-pb-10 { padding-bottom: rem(10) !important; }
.imnii-pb-15 { padding-bottom: rem(15) !important; }
.imnii-pb-20 { padding-bottom: rem(20) !important; }
.imnii-pb-25 { padding-bottom: rem(25) !important; }
.imnii-pb-30 { padding-bottom: rem(30) !important; }
.imnii-pb-35 { padding-bottom: rem(35) !important; }
.imnii-pb-40 { padding-bottom: rem(40) !important; }
.imnii-pb-45 { padding-bottom: rem(45) !important; }
.imnii-pb-50 { padding-bottom: rem(50) !important; }
.imnii-pb-55 { padding-bottom: rem(55) !important; }
.imnii-pb-60 { padding-bottom: rem(60) !important; }
.imnii-pb-65 { padding-bottom: rem(65) !important; }
.imnii-pb-70 { padding-bottom: rem(70) !important; }
.imnii-pb-75 { padding-bottom: rem(75) !important; }
.imnii-pb-80 { padding-bottom: rem(80) !important; }
.imnii-pb-85 { padding-bottom: rem(85) !important; }
.imnii-pb-90 { padding-bottom: rem(90) !important; }
.imnii-pb-95 { padding-bottom: rem(95) !important; }
.imnii-pb-100 { padding-bottom: rem(100) !important; }
/*  */
.imnii-pl-0 { padding-left: 0 !important; }
.imnii-pl-5 { padding-left: rem(5) !important; }
.imnii-pl-10 { padding-left: rem(10) !important; }
.imnii-pl-15 { padding-left: rem(15) !important; }
.imnii-pl-20 { padding-left: rem(20) !important; }
.imnii-pl-25 { padding-left: rem(25) !important; }
.imnii-pl-30 { padding-left: rem(30) !important; }
.imnii-pl-35 { padding-left: rem(35) !important; }
.imnii-pl-40 { padding-left: rem(40) !important; }
.imnii-pl-45 { padding-left: rem(45) !important; }
.imnii-pl-50 { padding-left: rem(50) !important; }
.imnii-pl-55 { padding-left: rem(55) !important; }
.imnii-pl-60 { padding-left: rem(60) !important; }
.imnii-pl-65 { padding-left: rem(65) !important; }
.imnii-pl-70 { padding-left: rem(70) !important; }
.imnii-pl-75 { padding-left: rem(75) !important; }
.imnii-pl-80 { padding-left: rem(80) !important; }
.imnii-pl-85 { padding-left: rem(85) !important; }
.imnii-pl-90 { padding-left: rem(90) !important; }
.imnii-pl-95 { padding-left: rem(95) !important; }
.imnii-pl-100 { padding-left: rem(100) !important; }

/*
===================================
UTILITIES - TEXT
===================================
*/
.imnii-text-center {
  text-align: center !important;
}
.imnii-text-left {
  text-align: left !important;
}
.imnii-text-right {
  text-align: right !important;
}