$root: 16;

/*
===================================
COLORS
===================================
*/
$black: #000000;
$white: #ffffff;

/*
===================================
FONT
===================================
*/
// Font - Weight
$light: 300;
$regular: 400;
$bold: 500;
$light: 700;

// Font - Family
$base-font-family: 'Rubik', sans-serif;
$base-font-weight: $regular;
$base-font-size: 1rem;
$base-line-height: 1.5em;