.imnii-btn {
  background-color: #f1f1f1;
  background-image: none;
  border: rem(1) solid transparent;
  border-radius: rem(4);
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: rem(14);
  padding: rem(15);
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  white-space: nowrap;
}
.imnii-btn > span,
.imnii-btn > span.imnii-btn__icon {
  display: inline-block;
  pointer-events: none;
}
.imnii-btn > span.imnii-btn__icon + span,
.imnii-btn > span + span.imnii-btn__icon {
  margin-left: rem(3);
}

/* Button - Size */
.imnii-btn--sm {}
.imnii-btn--lg {}
.imnii-btn--full {
  display: block;
  width: 100%;
}

/* Button - Disabled */
.imnii-btn--disabled,
.imnii-btn[disabled] {
  cursor: not-allowed;
}
.imnii-btn--disabled,
.imnii-btn[disabled],
.imnii-btn--disabled:hover,
.imnii-btn[disabled]:hover,
.imnii-btn--disabled:focus,
.imnii-btn[disabled]:focus,
.imnii-btn--disabled:active,
.imnii-btn[disabled]:active,
.imnii-btn--disabled--active,
.imnii-btn[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
}