/*
===================================
CONTAINER
===================================
*/
.imnii-section {
  position: relative;
}

.imnii-container {
  margin-right: auto;
  margin-left: auto;
  max-width: rem(1400);
  padding-right: rem(30);
  padding-left: rem(30);
}

.imnii-row {
  display: flex;
  flex-flow: row wrap;
  margin-right: rem(-15);
  margin-left: rem(-15);
}

.imnii-col-1 {
  padding-right: rem(15);
  padding-left: rem(15);
  flex: 0 0 100%;
  max-width: 100%;
}

.imnii-col-1-2 {
  padding-right: rem(15);
  padding-left: rem(15);
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 414px) {
  .imnii-col-1-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}