.media-handler {
  background-color: #e1e1e1;
  overflow: hidden;
  position: relative;
  padding-top: 100%;
  user-select: none;

  > img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &--16-9 {
    padding-top: 56.25%;
  }
  &--4-3 {
    padding-top: 75%;
  }
  &--3-2 {
    padding-top: 66.66%;
  }
  &--8-5 {
    padding-top: 62.5%;
  }
  
  &--round {
    border-radius: 50%;

    > img {
      border-radius: 50%;
    }
  }
}
